<p>products-list works!</p>
<app-propstest [message]="propmessage" ></app-propstest>
<div *ngIf="showAlert" class="alert alert-success" role="alert">
    Product deleted successfully!
</div>
<table class="table">
    <thead>
        <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products"  style="cursor: pointer;">
        <td >{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.isAvailable }}</td>
        <td class="d-flex justify-content-around">
            <a [routerLink]="['/products/pp/',product.id]" class="btn btn-info">View</a>
                        <button (click)="detail(product.id)" class="btn btn-primary">details</button>
                        <button (click)="edit(product.id)" class="btn btn-warning">edit</button>
                        <button  (click)="delete(product.id)" class="btn btn-danger">delete</button>
        </td>
        </tr>
    </tbody>
</table>

